/* src/components/feed.css */
.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #000000; /* Cor de fundo opcional */
  }
  
  .feed-container h1 {
    margin-bottom: 20px;
    color: #6a0dad;
    font-size: 2.5rem;
  }
  
  .feed-container p {
    font-size: 1.2rem;
    color: #333333;
  }
  